* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.hero-section {
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
  /* padding: 60px 100px; */
  display: flex;
  background-image: url("../Flower Asset/pngwing 10.png");
  background-repeat: no-repeat;
  background-position: right 10% bottom;
}
.hero-description {
  /* background-color: red; */
  width: 708px;
  height: 506px;
  margin: 100px 70px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-description h1 {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 700;
}
.hero-description p {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hero-description button {
  padding: 20px 43px;
  border-radius: 8px;
  background-color: #e55473;
  width: 187px;
  height: 64px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.container {
  width: 1440px;
  margin: 100px auto;
}

.featured-headline {
  /* background-color: yellow; */
  text-align: center;
}
.featured-headline h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.featured-headline p {
  color: rgba(39, 39, 39, 0.6);
  width: 594px;
  height: 60px;
  margin: 20px auto 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.featured-section {
  /* background-color: yellow; */
  height: 605px;
  /* background-image: url("../Flower Asset/pngwing 6.png"),
    url("../Flower Asset/pngwing 5.png"), url("../Flower Asset/pngwing 7.png");
  background-repeat: no-repeat;
  background-position: left bottom, center bottom, right bottom; */
}

.featured-section .styled-div {
  display: flex;
  justify-content: space-between;
}

.featured-section .styled-div #one {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  background-image: url("../Flower Asset/pngwing 6.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.featured-section .styled-div #two {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(5, 151, 160, 0.15);
  background-image: url("../Flower Asset/pngwing 5.png");
  background-repeat: no-repeat;
  background-position: center;
}
.featured-section .styled-div #three {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(71, 125, 17, 0.15);
  background-image: url("../Flower Asset/pngwing 7.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.featured-section .styled-div-link a {
  /* display: inline-block; */
  margin-top: 20px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.featured-section .styled-div-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flower-delivary-info {
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.flower-delivary-info .image-group {
  /* background-color: red; */
  /* border: 1px solid black; */
  width: 32%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flower-delivary-info .image-group p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

.flower-delivary-info .image-group img {
  width: 88px;
  height: 88px;
  margin: 0 auto;
}

.hotSale {
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
}

.hotSale .details {
  width: 50%;
  /* background-color: red; */
  /* border: 1px solid black; */
  padding: 11% 0% 10% 16%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hotSale .details span {
  color: #e55473;
}

.hotSale .details h2 {
  color: #272727;
  width: 537px;
  height: 48px;
  font-size: 40px;
  font-weight: 800;
}

.hotSale .details p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  width: 594px;
  font-weight: 400;
  line-height: 30px;
  /* margin: 0 auto; */
}
.hotSale .details button {
  /* padding: 20px 43px; */
  margin-top: 10px;
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  width: 155px;
  height: 64px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.hotSale .image img {
  margin-left: 5%;
}

.hotSale .image {
  width: 50%;
  /* border: 1px solid black; */
  /* padding: 10%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.instagram h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram p {
  width: 594px;
  margin: 20px auto;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.flower-picture {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.input {
  height: 449px;
  background-image: url("../Flower Asset/Rectangle 9.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.input .input-info {
  width: 70%;
  /* background-color: red; */
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.input .input-info .input-info-heading h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.input .input-info .input-info-heading p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.input .input-info .input-info-box input {
  width: 650px;
  height: 64px;
  border: none;
  padding: 0 20px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
}

::placeholder {
  color: rgba(39, 39, 39, 0.6);
  /* text-align: center; */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding: 30px; */
}

.input .input-info .input-info-box button {
  width: 150px;
  height: 64px;
  margin-left: 20px;
  border: none;
  border-radius: 8px;
  background-color: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  background-color: #111010;
  height: 449px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  width: 25%;
  /* background-color: red; */
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-section h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}
.footer-section h1 span {
  color: #e55473;
}

.footer-section #footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 625px;
}

#copyright {
  color: rgba(255, 255, 255, 0.4);
  width: 355px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
